.header-wrapper{
    background: $bahmniSecondaryColor;
    header{
        height:52px;
        max-width:$max-page-width;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
        position: relative;
        @media screen and (max-width: $max-page-width) {
            padding-block-start: 0;
            padding-block-end: 0;
            padding-inline-start: 10px;
            padding-inline-end: 10px;
        }
    }
}

.patient-details {
    display: inline-block;
    position: fixed;
    top: 53px;
    left: 5px;
    z-index: 1;
}
.patient-details a {
    font-size: 16px;
    font-family: $OpenSansBoldFont;
    text-transform: capitalize;
    width: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    background: $lightestGray;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px $lightGray;
    border: 1px solid $lightGray;
    &:hover {
        text-decoration: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.reg-header-right{
    width:auto;
}
