<div class="patient-info">
    <table>
        <tr>
            <td>{{ 'CLINICAL_VISIT_NAME'|translate }}: <span class="value">{{patient.name}}</span></td>
            <td>{{ 'Visit_Age'|translate }} : <span class="value">
                {{patient.birthdate | dateToAge:visit.dateStarted}}
                ({{patient.genderText.substring(6, patient.genderText.length - 7)}})
            </span></td>
            <td>{{ 'Visit_Registration_No'|translate }} : <span class="value">{{patient.identifier}}</span></td>
        </tr>
        <tr>
            <td>{{ 'Village/Town'|translate }} : <span class="value">{{patient.address.cityVillage}}</span></td>
            <td>{{ 'P.O'|translate }} : <span class="value">{{patient.address.address2}}</span></td>
            <td>{{ 'Visit_District'|translate }} : <span class="value">{{patient.address.countyDistrict}}</span></td>
        </tr>
        <tr>
            <td colspan="3">{{ 'Visit_Date'|translate }}  : <span class="value">{{(visitDate | bahmniDate) || (visitSummary.startDateTime | bahmniDate)}}</span></td>
        </tr>
    </table>
</div>
