.error-log-wrapper {
  table {
    table-layout: fixed;

    tr {
      background: #fff;
    }

    th {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 10%;
      }

      &:nth-child(3) {
        width: 10%;
      }
    }

    td {
      word-wrap: break-word;

      .stackTrace {
        overflow: hidden;
        max-height: 30px;

        &.stackTraceMore {
          overflow: auto;
          padding-bottom: 15px;
          max-height: 900px;
          -webkit-transition: max-height 1.5s ease-in-out;
          -moz-transition: max-height 1.5s ease-in-out;
          transition: max-height 1.5s ease-in-out;
        }
      }

      .read-wrap {
        background: #fff;
        padding-block-start: 9px;
        padding-block-end: 5px;
        padding-inline-start: 0;
        padding-inline-end: 0;

        .read-wrap-ellipse {
          display: block;
          text-align: center;
        }
      }

      button.readButton {
        padding-block-start: 2px;
        padding-block-end: 3px;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        background: #fff;
        font-size: 12px;
        margin-top: -14px;

        &:hover {
          background: #DDD;
        }

        .more {
          display: none;
        }

        &.active {
          .more {
            display: block;
          }

          .less {
            display: none;
          }
        }
      }
    }
  }
}
