.calendar {
  .calendar-location {
    .weekly-heading-cell {
      width: calc((100% - 7px) / 7);
      box-sizing: border-box;
      text-align: center;
      float: right;
      border-bottom: .5px solid lightgrey;
      padding-block-start: 10px;
      padding-block-end: 10px;
      padding-inline-start: 0;
      padding-inline-end: 0;
      font-family: OpenSansSemiBold;
    }
  }

  .table-block {
    .ot-block-container {
      .weekly-calendar-cell {
        border-bottom: 0.5px solid lightgrey;
        border-left: 0.5px solid lightgrey;
        width: 100%;
        flex-basis: 80px;
        height: 120px;
        box-sizing: border-box;
      }

      .ot-weekly-block {
        float: right;
        position: relative;
        padding-bottom: 20px;
        overflow: hidden;
        width: calc(100% / 7);

        .surgical-block {
          width: calc(100% - 10px);
          border: 0.5px solid #1976D2;

          &:focus {
            border-color: #1976D2 !important;
          }
        }
      }
    }
  }
}

.surgical-block {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1px;
  margin-inline-end: 1px;

  .surgical-block-appointment {
    .surgicalblock-patientname {
      word-break: break-word;
    }

    .surgicalblock-ot {
      color: #000;
      padding-left: 20px;
      margin-block-start: 2%;
      margin-block-end: 2%;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }

  .surgicalblock-surgeon-name {
    word-break: break-word;
  }
}
